<li>
  <span class="content"><%= productinfo.product_name %></span>
  <span class="content"><%= productinfo.category %></span>
  <span class="content"><%= productinfo.img_url %></span>
  <span class="content"><%= productinfo.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(productinfo.created_at) %> ago.
  </span>
</li>
